*{
    font-size: 25px!;
}
#user_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
#send_btn{
    margin-top: 40px;
}
#info_coin{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 25px;
}
#user_trading_interface{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    border: 4px solid black;
    border-radius: 25px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
#long_btn{
    background-color: rgba(136, 255, 136, 0.866);
    border-radius: 15px;
    font-size: 25px;
    padding: 10px 20px;
}

#short_btn{
    background-color: rgba(255, 136, 136, 0.866);
    border-radius: 15px;
    font-size: 25px;
    padding: 10px 20px;
}
#leverage{
    width: 300px;

}
#trade1,#trade2,#trade3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}

#open_trade{
    margin-top:30px;
}